<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h2>Quiz: el juego de preguntas</h2>
    <h3>Autor: <%= title %></h3>
    <p><img href="/images/author.jpg"</p>
    
    <footer>Alojado en <a href="https://github.com/salvacam/quiz" target="_blank">github</a></footer>
  </body>
</html>
